
@using System.Threading.Tasks

<div class="splashIMG @_class">
    <img src="@Image" />
</div>

@code {

    [Parameter]
    public string? Image { get; set; }

    string _class = "";


    protected async override void OnParametersSet()
    {
        base.OnParametersSet();

        if(Image == null)
        {
            Image = "images/1store.gif";
        }

            await Task.Delay(3200);
            _class = "dis";
            StateHasChanged();
        

    }
}
