@page "/"
@namespace OnlineMall.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
  

</div>

<component type="typeof(App)" render-mode=ServerPrerendered  />